.container{
    height: 72px;
	position: fixed;
	top: 0px;
	background-color: #FFFFFF;
	z-index: 2;
	box-shadow: 0px 0px 16px 0px rgba(38, 38, 38, .16);
}
header .container{
	padding: 5px;
	margin: -7px;
	width: 100%;
}
.header__body{
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 72px;
	
}
.logo{
    position: absolute;
width: 40px;
height: 40px;
left: 140px;
top: 20px;
}
.logo4{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 192px;
	top: 29px;	
}
.text{
    position: absolute;
width: 43px;
height: 18px;
left: 530px;
top: 36px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;

color: rgba(31, 32, 65, 0.75);

}
.text1{
	position: absolute;
width: 43px;
height: 18px;
left: 600px;
top: 36px;

font-family: 'Montserrat';
}
.text2{
	position: absolute;
width: 43px;
height: 18px;
left: 680px;
top: 36px;

font-family: 'Montserrat';
}
.text3{
	position: absolute;
	width: 43px;
	height: 18px;
	left: 790px;
	top: 36px;

	font-family: 'Montserrat';
}
.text4{
	position: absolute;
	width: 43px;
	height: 18px;
	left: 880px;
	top: 36px;

	font-family: 'Montserrat';
}
.block_for_button10{
    position: absolute;
width: 320px;
height: 44px;
left: 1150px;
top: 25px;

/* Primary Gradient */

background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
border-radius: 22px;
}
.link-button10{  
    position: absolute;
    width: 320px;
    height: 28px;
    left: 0px;
    top: 15px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    
    color: #ffffff;
    
}
.login-button10{
    position: absolute; top: 25px; left: 1050px; display: inline-block; padding: 10px 15px; font-weight: 500;
    font-family: 'Montserrat'; text-decoration: none; 
    border: 1px solid #BC9CFF; color: #BC9CFF;
}
.Group {
    position: absolute;
width: 380px;
height: 374px;
left: 280px;
top: 150px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.12);
box-sizing: border-box;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}

.Text{
    position: absolute;
width: 320px;
height: 59px;
left: 35px;
top: 40px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

/* Dark 100% */

color: #1F2041;
}
.link-button{  
    position: absolute;
    width: 320px;
    height: 28px;
    left: 0px;
    top: 15px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    
    color: #ffffff;
    
}
.Group2{
    position: absolute;
width: 380px;
height: 646px;
left: 280px;
top: 564px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.12);
box-sizing: border-box;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}
.input__txt{
    width: 100; margin-bottom: 10px; padding: 15px 60px; border: 1px solid #e5e5e5;
    font-size: 15px; color: #413d4b; outline: none;
}
.Text2{
    position: absolute;
width: 118px;
height: 15px;
left: 0px;
top: 180px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

/* Dark 100% */

color: #1F2041;
}
.Text3 {
    position: absolute;
width: 211px;
height: 15px;
left: 0px;
top: 260px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

/* Dark 100% */

color: #1F2041;
}

.Group3{
    position: absolute;
width: 380px;
height: 512px;
left: 700px;
top: 150px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.12);
box-sizing: border-box;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}

.Group4{
    position: absolute;
    width: 380px;
    height: 358px;
    left: 700px;
    top: 700px;
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.Group5{
    position: absolute;
width: 320px;
height: 369px;
left: 1115px;
top: 150px;

background: #FFFFFF;
border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
border-radius: 4px;
}

.Group6{
    position: absolute;
width: 270px;
height: 257px;
left: 1115px;
top: 550px;

background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
border-radius: 4px;
}

.Group7{
    position: absolute;
width: 270px;
height: 257px;
left: 1115px;
top: 830px;

background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
border-radius: 4px;
}
.link-button1{
    position: absolute;
width: 330px;
height: 28px;
left: 0px;
top: 15px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-align: center;
text-transform: uppercase;
text-decoration: none;

color: #ffffff;

}
.login-button{
    position: absolute; top: 540px; left: 200px; display: inline-block; padding: 10px 15px; font-weight: 500;
    font-family: 'Montserrat'; text-decoration: none; 
    border: 1px solid #BC9CFF; color: #BC9CFF;

}
.Text4{
    position: absolute;
width: 69px;
height: 30px;
left: 40px;
top: 30px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 17px;

/* Dark 100% */

color: #1F2041;
}
.mini-text{
    position: absolute;
width: 41px;
height: 15px;
left: 135px;
top: 37px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

/* Primary Color */

color: #BC9CFF;

}
.Text5{
    position: absolute;
width: 320px;
height: 30px;
left: 30px;
top: 30px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
/* identical to box height */


/* Dark 100% */

color: #1F2041;
}
.Text6{
    position: absolute;
width: 119px;
height: 24px;
left: 100px;
top: 20px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 23px;
/* identical to box height */

text-align: center;

/* Dark 100% */

color: #1F2041;

}
.img1{
    position: absolute;
width: 270px;
height: 150px;
}
.img2{
    position: absolute;
    width:270px ;
    height: 150px;
}
.block_for_button{
    position: absolute;
width: 320px;
height: 44px;
left: 0px;
top: 456px;

/* Primary Gradient */

background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
border-radius: 22px;
}
.block_for_button2{
    position: absolute;
width: 320px;
height: 44px;
left: 0px;
top: 250px;

/* Primary Gradient */

background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
border-radius: 22px;
}
.block_for_button3{
    position: absolute;
width: 320px;
height: 44px;
left: 30px;
top: 430px;

/* Primary Gradient */

background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
border-radius: 22px;
}
.block_for_button4{
    position: absolute;
width: 320px;
height: 44px;
left: 30px;
top: 190px;

/* Primary Gradient */

background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
border-radius: 22px;
}
.link-button2{
    position: absolute;
width: 330px;
height: 28px;
left: 0px;
top: 15px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-align: center;
text-transform: uppercase;
text-decoration: none;

color: #ffffff;
}
.link-button3{
    position: absolute;
    width: 330px;
    height: 28px;
    left: 0px;
    top: 15px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    
    color: #ffffff;

}
.clndr{
    position: absolute;
    width: 200px;
    height: 50px;
    left: -40px;
    top: 50px;
}
 
.slct1{
    position: absolute;
width: 320px;
height: 44px;
left: 0px;
top: 170px;

background: #FFFFFF;
/* Dark 25% */

border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 4px;
}
.slcts_wrd{
    position: absolute;
width: 43px;
height: 15px;
left: 0px;
top: 155px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

/* Dark 100% */

color: #1F2041;

}

.clndr1{
    position: absolute;
width: 150px;
height: 44px;
left: 0px;
top: 90px;

background: #FFFFFF;
/* Dark 25% */

border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 4px;
}
.clndr2{
    position: absolute;
width: 150px;
height: 44px;
left: 170px;
top: 90px;

background: #FFFFFF;
/* Dark 25% */

border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 4px;
}

.slcts_wrd1{
    position: absolute;
    width: 83px;
    height: 15px;
    left: 0px;
    top: 75px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    /* Dark 100% */
    
    color: #1F2041;
    
}
.slcts_wrd2{
    position: absolute;
    width: 83px;
    height: 15px;
    left: 170px;
    top: 75px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    /* Dark 100% */
    
    color: #1F2041;
    
}
.clndr3{
    position: absolute;
    width: 150px;
    height: 44px;
    left: 30px;
    top: 90px;
    
    background: #FFFFFF;
    /* Dark 25% */
    
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px; 
}
.slcts_wrd3{
    position: absolute;
    width: 83px;
    height: 15px;
    left: 30px;
    top: 75px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    /* Dark 100% */
    
    color: #1F2041;
    
}
.clndr4{
    position: absolute;
width: 150px;
height: 44px;
left: 200px;
top: 90px;

background: #FFFFFF;
/* Dark 25% */

border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 4px;
}
.slcts_wrd4{
    position: absolute;
    width: 83px;
    height: 15px;
    left: 200px;
    top: 75px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    /* Dark 100% */
    
    color: #1F2041;
}
.slct2{
    position: absolute;
    width: 320px;
    height: 44px;
    left: 30px;
    top: 170px;
    
    background: #FFFFFF;
    /* Dark 25% */
    
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
}
.slcts_wrd5{
    position: absolute;
    width: 43px;
    height: 15px;
    left: 30px;
    top: 155px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    /* Dark 100% */
    
    color: #1F2041;  
}
.p1{
    position: absolute;
    width: px;
    height: 1px;
    left: 30px;
    top: 220px;

    font-family: 'Montserrat';
}
.p2{
    position: absolute;
    width: px;
    height: 1px;
    left: 310px;
    top: 220px;

    font-family: 'Montserrat';
}
.h1{
    position: absolute;
    width: px;
    height: 1px;
    left: 30px;
    top: 360px;

    font-family: 'Montserrat';
}
.h2{
    position: absolute;
    width: px;
    height: 1px;
    left: 240px;
    top: 360px;

    font-family: 'Montserrat';
}
.Text7{
    position: absolute;
width: px;
height: 18px;
left: 0px;
top: 540px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */

display: flex;
align-items: center;
text-align: center;

color: #000000;
}
.login-button2{
    position: absolute; top: 100px; left: 200px; display: inline-block; padding: 10px 15px; font-weight: 500;
    font-family: 'Montserrat'; text-decoration: none; border: 1px solid #BC9CFF; color: #BC9CFF;
}
.Text8{
    position: absolute;
width: 164px;
height: 18px;
left: 0px;
top: 95px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */

display: flex;
align-items: center;

color: #000000;

}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #BC9CFF;
  }
  
  input:focus + .slider {
   
    box-shadow: 0 0 1px #BC9CFF ;
    
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .Text9{
    position: absolute;
    width: 210px;
    height: 24px;
    left: 70px;
    top: 127px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 24px;
    /* identical to box height, or 171% */
    
    
    /* Dark 75% */
    
    color: rgba(31, 32, 65, 0.75);
    
  }
  .pp{
    position: absolute;
    width: px;
    height: 24px;
    left: 20px;
    top: 170px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    
    /* Dark 100% */
    
    color: #1F2041;
  }
.mini-text2{  
  position: absolute;
width: 41px;
height: 15px;
left: 89px;
top: 180px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

/* Primary Color */

color: #BC9CFF;
}
.pp1{
    position: absolute;
width: px;
height: 15px;
left: 145px;
top: 175px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
/* or 129% */

color: rgba(31, 32, 65, 0.5);
}
.pp2{
    position: absolute;
width: px;
height: 18px;
left: 152px;
top: 210px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */

text-align: right;

/* Dark 50% */

color: rgba(31, 32, 65, 0.5);
}
.pp3{
    position: absolute;
    width: px;
    height: 24px;
    left: 20px;
    top: 170px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    
    /* Dark 100% */
    
    color: #1F2041;
}
.pp4{
    position: absolute;
    width: px;
    height: 15px;
    left: 145px;
    top: 175px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */
    
    color: rgba(31, 32, 65, 0.5);
}
.pp5{
    position: absolute;
    width: px;
    height: 18px;
    left: 20px;
    top: 200px;

    font-family: 'Material Icons';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;

/* Primary Gradient */

background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

}
.pp6{
    position: absolute;
    width: px;
    height: 18px;
    left: 152px;
    top: 210px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    
    text-align: right;
    
    /* Dark 50% */
    
    color: rgba(31, 32, 65, 0.5);
}
.pp7{
    position: absolute;
    width: px;
    height: 18px;
    left: 20px;
    top: 200px;

    font-family: 'Material Icons';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;

/* Primary Gradient */

background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color : transparent;
}
.radio{
    display: none;
}
.fake{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}
.fake::before{
    content: "";
    position: absolute;
    top: px;
    left: 3%;
    transform: translate(-40%, 50%);
    display: block;
    width: 10px;
    height: 10px;
    background-color: #BC9CFF;
    opacity: 0;
    transition: .2s;
    border-radius: 50%;
    
}
.radio:checked + .fake::before{
    opacity: 1;
}

.pp8{
    position: absolute;
width: 340px;
height: px;
left: 170px;
top: 147px;
}
.pp9{
    position: absolute;
width: 68px;
height: 24px;
left: 30px;
top: 133px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */


/* Dark 75% */

color: rgba(31, 32, 65, 0.75);

}
.pp10{
    position: absolute;
width: 68px;
height: 24px;
left: 200px;
top: 133px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */


/* Dark 75% */

color: rgba(31, 32, 65, 0.75);

}

footer{
	background-color: #ffffff;
	
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

 }
 .footer_block{
	position: absolute;
width: 1903px;
height: 367px;
left: 0px;
top: 1427px;

background: #FFFFFF;


box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

 }
 .f_logo{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 140px;
	top: 100px;
 }
 .f-p{
	position: absolute;
width: 260px;
height: 72px;
left: px;
top: px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
 }
 .f-p1{
	position: absolute;
	width: 83px;
	height: 15px;
	left: 600px;
	top: 104px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	/* Dark 100% */
	
	color: #1F2041;
	
 }
 .f-p2{
	position: absolute;
	width: 42px;
	height: 18px;
	left: 600px;
	top: 140px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
 }
 .f-p3{
	position: absolute;
	width: 62px;
	height: 18px;
	left: 600px;
	top: 178px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
 }
 .f-p4{
	position: absolute;
	width: 143px;
	height: 18px;
	left: 600px;
	top: 216px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
 }
 .f-p5{
	position: absolute;
	width: 50px;
	height: 18px;
	left: 600px;
	top: 254px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
 }
 .f-p6{
	position: absolute;
	width: 42px;
	height: 15px;
	left: 951px;
	top: 104px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	/* Dark 100% */
	
	color: #1F2041;
	
 }
 .f-p7{
	position: absolute;
	width: 77px;
	height: 18px;
	left: 951px;
	top: 140px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
 }
 .f-p8{
	position: absolute;
width: 108px;
height: 18px;
left: 951px;
top: 216px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

/* Dark 50% */

color: rgba(31, 32, 65, 0.5);

 }
 .f-p9{
	position: absolute;
	width: 77px;
	height: 18px;
	left: 951px;
	top: 254px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
 }
 .f-p10{
	position: absolute;
	width: 77px;
	height: 18px;
	left: 951px;
	top: 178px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
 }
 .f-p11{
	position: absolute;
	width: 149px;
	height: 15px;
	left: 1259px;
	top: 104px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	/* Dark 100% */
	
	color: #1F2041;
	
 }
 .f-p12{
	position: absolute;
	width: 92px;
	height: 18px;
	left: 1259px;
	top: 140px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
 }
 .f-p13{
	position: absolute;
	width: 90px;
	height: 18px;
	left: 1259px;
	top: 178px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
 }
 .f-p14{
	position: absolute;
	width: 96px;
	height: 18px;
	left: 1259px;
	top: 216px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
 }
 .f-p15{
	position: absolute;
	width: 76px;
	height: 15px;
	left: 1579px;
	top: 104px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	/* Dark 100% */
	
	color: #1F2041;
	
 }
 .f-p16{
	position: absolute;
	width: 260px;
	height: 48px;
	left: 1579px;
	top: 140px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	/* or 171% */
	
	
	/* Dark 75% */
	
	color: rgba(31, 32, 65, 0.75);
	
 }
 .input__txt{
    width: 100; margin-bottom: 10px; padding: 15px 60px; border: 1px solid #e5e5e5;
    font-size: 15px; color: #413d4b; outline: none;
}
.f_eml{
	position: absolute;
	top: 208px;
	left: 1579px;
}
.undr_footer{
	position: absolute;
width: 1903px;
height: 70px;
left: 0px;
top: 1795px;

background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.undr_p{
	position: absolute;
width: 372px;
height: 18px;
left: 140px;
top: 18px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

/* Dark 75% */

color: rgba(31, 32, 65, 0.75);
}
.sbsin1{
	position: absolute;
	width: px;
	height: px;
}
.tw1{
	position: absolute;
	width: 24px;
	height: 24px;
	left: 1675px;
	top: 20px;
}
.fcb1{
	position: absolute;
	width: 24px;
	height: 24px;
	left: 1719px;
	top: 23px;
}
.inst1{
	position: absolute;
	width: 24px;
	height: 24px;
	left: 1763px;
	top: 23px;
}