.Group {
    position: absolute;
width: 380px;
height: 374px;
left: 280px;
top: 150px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.12);
box-sizing: border-box;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}

.Text{
    position: absolute;
width: 320px;
height: 59px;
left: 35px;
top: 40px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

/* Dark 100% */

color: #1F2041;
}
.link-button{  
    position: absolute;
    width: 320px;
    height: 28px;
    left: 0px;
    top: 15px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    
    color: #ffffff;
    
}
.Group2{
    position: absolute;
width: 380px;
height: 646px;
left: 280px;
top: 564px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.12);
box-sizing: border-box;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}
.input__txt{
    width: 100; margin-bottom: 10px; padding: 15px 60px; border: 1px solid #e5e5e5;
    font-size: 15px; color: #413d4b; outline: none;
}
.Text2{
    position: absolute;
width: 118px;
height: 15px;
left: 0px;
top: 180px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

/* Dark 100% */

color: #1F2041;
}
.Text3 {
    position: absolute;
width: 211px;
height: 15px;
left: 0px;
top: 260px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

/* Dark 100% */

color: #1F2041;
}

.Group3{
    position: absolute;
width: 380px;
height: 512px;
left: 700px;
top: 150px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.12);
box-sizing: border-box;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}

.Group4{
    position: absolute;
    width: 380px;
    height: 358px;
    left: 700px;
    top: 700px;
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.Group5{
    position: absolute;
width: 320px;
height: 369px;
left: 1115px;
top: 150px;

background: #FFFFFF;
border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
border-radius: 4px;
}

.Group6{
    position: absolute;
width: 270px;
height: 257px;
left: 1115px;
top: 550px;

background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
border-radius: 4px;
}

.Group7{
    position: absolute;
width: 270px;
height: 257px;
left: 1115px;
top: 830px;

background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
border-radius: 4px;
}
.link-button1{
    position: absolute;
width: 330px;
height: 28px;
left: 0px;
top: 15px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-align: center;
text-transform: uppercase;
text-decoration: none;

color: #ffffff;

}
.login-button{
    position: absolute;
width: 47px;
height: 15px;
left: 240px;
top: 550px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-align: center;
text-transform: uppercase;

/* Primary Color */

color: #BC9CFF;

}
.Text4{
    position: absolute;
width: 69px;
height: 30px;
left: 40px;
top: 30px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 17px;

/* Dark 100% */

color: #1F2041;
}
.mini-text{
    position: absolute;
width: 41px;
height: 15px;
left: 115px;
top: 37px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

/* Primary Color */

color: #BC9CFF;

}
.Text5{
    position: absolute;
width: 320px;
height: 30px;
left: 30px;
top: 30px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
/* identical to box height */


/* Dark 100% */

color: #1F2041;
}
.Text6{
    position: absolute;
width: 119px;
height: 24px;
left: 100px;
top: 20px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 23px;
/* identical to box height */

text-align: center;

/* Dark 100% */

color: #1F2041;

}
.img1{
    position: absolute;
width: 270px;
height: 150px;
}
.img2{
    position: absolute;
    width:270px ;
    height: 150px;
}
.block_for_button{
    position: absolute;
width: 320px;
height: 44px;
left: 0px;
top: 456px;

/* Primary Gradient */

background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
border-radius: 22px;
}
.block_for_button2{
    position: absolute;
width: 320px;
height: 44px;
left: 0px;
top: 250px;

/* Primary Gradient */

background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
border-radius: 22px;
}
.block_for_button3{
    position: absolute;
width: 320px;
height: 44px;
left: 30px;
top: 430px;

/* Primary Gradient */

background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
border-radius: 22px;
}
.block_for_button4{
    position: absolute;
width: 320px;
height: 44px;
left: 30px;
top: 190px;

/* Primary Gradient */

background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
border-radius: 22px;
}
.link-button2{
    position: absolute;
width: 330px;
height: 28px;
left: 0px;
top: 15px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-align: center;
text-transform: uppercase;
text-decoration: none;

color: #ffffff;
}
.link-button3{
    position: absolute;
    width: 330px;
    height: 28px;
    left: 0px;
    top: 15px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    
    color: #ffffff;

}