.Group {
    position: absolute;
width: 380px;
height: 374px;
left: 140px;
top: 150px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.12);
box-sizing: border-box;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}

.Text{
    position: absolute;
width: 320px;
height: 59px;
left: 35px;
top: 30px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

/* Dark 100% */

color: #1F2041;
}
.link-button{  
width: 280px;
height: 15px;
padding: 210px 85px;

text-decoration: none;
display: inline-block;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;

color: #e215e9;
}
.Group2{
    position: absolute;
width: 380px;
height: 646px;
left: 140px;
top: 564px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.12);
box-sizing: border-box;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}
.input__txt{
    width: 100; margin-bottom: 10px; padding: 15px 60px; border: 1px solid #e5e5e5;
    font-size: 15px; color: #413d4b; outline: none;
}
.Text2{
    position: absolute;
width: 118px;
height: 15px;
left: 0px;
top: 180px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

/* Dark 100% */

color: #1F2041;
}
.Text3 {
    position: absolute;
width: 211px;
height: 15px;
left: 0px;
top: 260px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

/* Dark 100% */

color: #1F2041;
}

.Group3{
    position: absolute;
width: 380px;
height: 512px;
left: 560px;
top: -414px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.12);
box-sizing: border-box;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}

.Group4{
    position: absolute;
    width: 380px;
    height: 358px;
    left: 560px;
    top: 138px;
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.Group5{
    position: absolute;
width: 320px;
height: 369px;
left: 980px;
top: -414px;

background: #FFFFFF;
border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
border-radius: 4px;
}

.Group6{
    position: absolute;
width: 270px;
height: 257px;
left: 980px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
border-radius: 4px;
}

.Group7{
    position: absolute;
width: 270px;
height: 257px;
left: 980px;
top: 300px;

background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
border-radius: 4px;
}