.head{
    height: 72px;
	position: fixed;
	top: 0px;
	background-color: #FFFFFF;
	z-index: 2;
	box-shadow: 0px 0px 16px 0px rgba(38, 38, 38, .16);
}
header .head{
	padding: 5px;
	margin: -7px;
	width: 100%;
}
.header__body{
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 72px;
	
}
.logo{
    position: absolute;
width: 40px;
height: 40px;
left: 140px;
top: 20px;
}
.logo4{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 192px;
	top: 29px;	
}
.text{
    position: absolute;
width: 43px;
height: 18px;
left: 530px;
top: 36px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;

color: rgba(31, 32, 65, 0.75);

}
.text1{
	position: absolute;
width: 43px;
height: 18px;
left: 600px;
top: 36px;

font-family: 'Montserrat';
}
.text2{
	position: absolute;
width: 43px;
height: 18px;
left: 680px;
top: 36px;

font-family: 'Montserrat';
}
.text3{
	position: absolute;
	width: 43px;
	height: 18px;
	left: 790px;
	top: 36px;

	font-family: 'Montserrat';
}
.text4{
	position: absolute;
	width: 43px;
	height: 18px;
	left: 880px;
	top: 36px;

	font-family: 'Montserrat';
}
.block_for_button10{
    position: absolute;
width: 200px;
height: 40px;
left: 1150px;
top: 25px;

/* Primary Gradient */

background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
border-radius: 22px;
}
.link-button10{  
    position: absolute;
    width: 320px;
    height: 28px;
    left: -60px;
    top: 13px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    
    color: #ffffff;
    
}
.login-button10{
    position: absolute; top: 25px; left: 1050px; display: inline-block; padding: 10px 15px; font-weight: 500;
    font-family: 'Montserrat'; text-decoration: none; 
    border: 1px solid #BC9CFF; color: #BC9CFF;
}

/*---------------------------------MAIN------------------------------------------*/
.h3{
	position: absolute;
width: 529px;
height: 30px;
left: 498px;
top: 90px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
/* identical to box height */


/* Dark 100% */

color: #1F2041;

}
.Group{
    position: absolute;
width: 270px;
height: 257px;
left: 500px;
top: 160px;

background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
border-radius: 4px;
}
.img1{
    position: absolute;
width: 1266px;
height: 637px;
left: 0px;
top: px;

}
.pp{
    position: absolute;
    width: px;
    height: 24px;
    left: 20px;
    top: 170px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    
    /* Dark 100% */
    
    color: #1F2041;
  }
.mini-text2{  
  position: absolute;
width: 41px;
height: 15px;
left: 89px;
top: 180px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

/* Primary Color */

color: #BC9CFF;
}
.pp1{
    position: absolute;
width: px;
height: 15px;
left: 145px;
top: 175px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
/* or 129% */

color: rgba(31, 32, 65, 0.5);
}
.pp2{
    position: absolute;
width: px;
height: 18px;
left: 152px;
top: 210px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */

text-align: right;

/* Dark 50% */

color: rgba(31, 32, 65, 0.5);
}
.pp7{
    position: absolute;
    width: px;
    height: 18px;
    left: 20px;
    top: 200px;

    font-family: 'Material Icons';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;

/* Primary Gradient */

background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color : transparent;
}
.img1{
    position: absolute;
    width:270px ;
    height: 150px;
	top: 1px;
}
.Group1{
    position: absolute;
width: 270px;
height: 257px;
left: 500px;
top: 430px;

background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
border-radius: 4px;
}
.img2{
	position: absolute;
    width:270px ;
    height: 150px;
	top: 1px;
	left: px;
}
.Group2{
	position: absolute;
width: 270px;
height: 257px;
left: 500px;
top: 700px;

background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
border-radius: 4px;
}
.Group3{
	position: absolute;
	width: 270px;
	height: 257px;
	left: 500px;
	top: 970px;
	
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	border-radius: 4px;
}
.Group4{
	position: absolute;
width: 270px;
height: 257px;
left: 785px;
top: 160px;

background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
border-radius: 4px;
}
.Group5{
	position: absolute;
width: 270px;
height: 257px;
left: 785px;
top: 430px;

background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
border-radius: 4px;
}
.Group6{
	position: absolute;
	width: 270px;
	height: 257px;
	left: 785px;
	top: 700px;
	
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	border-radius: 4px;
}
.Group7{
	position: absolute;
	width: 270px;
	height: 257px;
	left: 785px;
	top: 970px;
	
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	border-radius: 4px;
}
.Group8{
	position: absolute;
	width: 270px;
	height: 257px;
	left: 1070px;
	top: 160px;
	
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	border-radius: 4px;
}
.Group9{
	position: absolute;
	width: 270px;
	height: 257px;
	left: 1070px;
	top: 430px;
	
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	border-radius: 4px;
}
.Group10{
	position: absolute;
	width: 270px;
	height: 257px;
	left: 1070px;
	top: 700px;
	
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	border-radius: 4px;
}
.Group11{
	position: absolute;
	width: 270px;
	height: 257px;
	left: 1070px;
	top: 970px;
	
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	border-radius: 4px;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-family: 'Montserrat';
	color: rgba(31, 32, 65, 0.5);
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: rgb(238, 8, 207);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    color: rgb(238, 8, 207);
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .checkbox1{
    position:absolute;
    top: 400px;
    left: px;
  }
  .h1{
	position: absolute;
	width: 110px;
	height: 15px;
	left: px;
	top: -40px;
	
	font-family: 'Montserrat'; 
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	/* Dark 100% */
	
	color: #1F2041;
  }
  /* The container */
.container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 45px;
	width: px;
	height: 18px;
	font-weight: 700;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-family: 'Montserrat';
	color: rgba(31, 32, 65, 0.75);
  }
  
  /* Hide the browser's default checkbox */
  .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container1:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container1 input:checked ~ .checkmark {
    background-color: rgb(238, 8, 207);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    color: rgb(238, 8, 207);
  }
  
  /* Show the checkmark when checked */
  .container1 input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .checkbox2{
    position:absolute;
    top: 550px;
    left: px;
  }
  .h2{
	position: absolute;
	width: 110px;
	height: 15px;
	left: px;
	top: -40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	/* Dark 100% */
	
	color: #1F2041;
  }
  .p{
	position: absolute;
	width: 203px;
	height: 28px;
	left: 35px;
	top: 15px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	/* or 117% */
	
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
  }
  .p1{
	position: absolute;
width: 236px;
height: 28px;
left: 35px;
top: 80px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* or 117% */


/* Dark 50% */

color: rgba(31, 32, 65, 0.5);

  }
  .p5{
	position: absolute;
	width: 133px;
	height: 15px;
	left: px;
	top: 690px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	/* Dark 100% */
	
	color: #1F2041;
	
  }
  .checkbox3{
	  position: absolute;
	  top: 800px;
	  left: px;
  }
  .p2{
	position: absolute;
	width: 209px;
	height: 15px;
	left: 0px;
	top: -45px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	/* Dark 100% */
	
	color: #1F2041;
	
  }
  .clndr{
	  position: absolute;
	  width: 250px;
      height: 40px;
	  top: 100px;
	  left: px;
  }
  .p3{
	position: absolute;
	width: 197px;
	height: 15px;
	left: 0px;
	top: 50px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	/* Dark 100% */
	
	color: #1F2041;
	
  }
  
  .clndr1{
	  position: absolute;
	  top: 40px;
	  left: px;
  }
  .p4{
	position: absolute;
width: 43px;
height: 15px;
left: px;
top: 190px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

/* Dark 100% */

color: #1F2041;

  }
  .slct2{
    position: absolute;
    width: 255px;
    height: 44px;
    left: px;
    top: 220px;
    
    background: #FFFFFF;
    /* Dark 25% */
    
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
}
  .select{
	position: absolute;
	width: px;
	height: px;
	top: 1200px;
	left: 770px;
}
.block_for_button11{
    position: absolute;
width: 40px;
height: 40px;
left: 38px;
top: 82px;

/* Primary Gradient */

background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
border-radius: 22px;
}
  .page1{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 17.5px;
	top: -12px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	display: flex;
	align-items: center;
	text-align: center;
	
	/* Dark 50% */
	
	color: rgb(255, 255, 255);
	
  }
  .page2{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 100px;
	top: 70px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	display: flex;
	align-items: center;
	text-align: center;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
  }
  .page3{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 150px;
	top: 70px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	display: flex;
	align-items: center;
	text-align: center;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
  }
  .npage{
	position: absolute;
width: 40px;
height: 40px;
left: 200px;
top: 70px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

/* Dark 50% */

color: rgba(31, 32, 65, 0.5);

  }
  .page15{
	  
position: absolute;
width: 40px;
height: 40px;
left: 250px;
top: 70px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

/* Dark 50% */

color: rgba(31, 32, 65, 0.5);

  }
  .pp3{
	position: absolute;
	width: 229px;
	height: 24px;
	left: 45px;
	top: 120px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	/* identical to box height, or 171% */
	
	
	/* Dark 75% */
	
	color: rgba(31, 32, 65, 0.75);
	
  }
/*---------------------------------FOOTER------------------------------------------*/

footer{
	background-color: #ffffff;
	
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

 }
 .footer_block{
	position: absolute;
width: 1903px;
height: 367px;
left: 0px;
top: 1440px;

background: #FFFFFF;


box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

 }
 .f_logo{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 140px;
	top: 100px;
 }
 .f-p{
	position: absolute;
width: 260px;
height: 72px;
left: px;
top: px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
 }
 .f-p1{
	position: absolute;
	width: 83px;
	height: 15px;
	left: 600px;
	top: 104px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	/* Dark 100% */
	
	color: #1F2041;
	
 }
 .f-p2{
	position: absolute;
	width: 42px;
	height: 18px;
	left: 600px;
	top: 140px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
 }
 .f-p3{
	position: absolute;
	width: 62px;
	height: 18px;
	left: 600px;
	top: 178px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
 }
 .f-p4{
	position: absolute;
	width: 143px;
	height: 18px;
	left: 600px;
	top: 216px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
 }
 .f-p5{
	position: absolute;
	width: 50px;
	height: 18px;
	left: 600px;
	top: 254px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
 }
 .f-p6{
	position: absolute;
	width: 42px;
	height: 15px;
	left: 951px;
	top: 104px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	/* Dark 100% */
	
	color: #1F2041;
	
 }
 .f-p7{
	position: absolute;
	width: 77px;
	height: 18px;
	left: 951px;
	top: 140px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
 }
 .f-p8{
	position: absolute;
width: 108px;
height: 18px;
left: 951px;
top: 216px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

/* Dark 50% */

color: rgba(31, 32, 65, 0.5);

 }
 .f-p9{
	position: absolute;
	width: 77px;
	height: 18px;
	left: 951px;
	top: 254px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
 }
 .f-p10{
	position: absolute;
	width: 77px;
	height: 18px;
	left: 951px;
	top: 178px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
 }
 .f-p11{
	position: absolute;
	width: 149px;
	height: 15px;
	left: 1259px;
	top: 104px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	/* Dark 100% */
	
	color: #1F2041;
	
 }
 .f-p12{
	position: absolute;
	width: 92px;
	height: 18px;
	left: 1259px;
	top: 140px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
 }
 .f-p13{
	position: absolute;
	width: 90px;
	height: 18px;
	left: 1259px;
	top: 178px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
 }
 .f-p14{
	position: absolute;
	width: 96px;
	height: 18px;
	left: 1259px;
	top: 216px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	
	/* Dark 50% */
	
	color: rgba(31, 32, 65, 0.5);
	
 }
 .f-p15{
	position: absolute;
	width: 76px;
	height: 15px;
	left: 1579px;
	top: 104px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	text-transform: uppercase;
	
	/* Dark 100% */
	
	color: #1F2041;
	
 }
 .f-p16{
	position: absolute;
	width: 260px;
	height: 48px;
	left: 1579px;
	top: 140px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	/* or 171% */
	
	
	/* Dark 75% */
	
	color: rgba(31, 32, 65, 0.75);
	
 }
 .input__txt{
    width: 100; margin-bottom: 10px; padding: 15px 60px; border: 1px solid #e5e5e5;
    font-size: 15px; color: #413d4b; outline: none;
}
.f_eml{
	position: absolute;
	top: 208px;
	left: 1579px;
}
.undr_footer{
	position: absolute;
width: 1903px;
height: 70px;
left: 0px;
top: 1808px;

background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.undr_p{
	position: absolute;
width: 372px;
height: 18px;
left: 140px;
top: 18px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

/* Dark 75% */

color: rgba(31, 32, 65, 0.75);
}
.sbsin1{
	position: absolute;
	width: px;
	height: px;
}
.tw1{
	position: absolute;
	width: 24px;
	height: 24px;
	left: 1675px;
	top: 20px;
}
.fcb1{
	position: absolute;
	width: 24px;
	height: 24px;
	left: 1719px;
	top: 23px;
}
.inst1{
	position: absolute;
	width: 24px;
	height: 24px;
	left: 1763px;
	top: 23px;
}